[Desktop Entry]
Type=Application
Name=Barracuda Status
Name[es]=Estado de Barracuda
Comment=Monitor headset connection and switch audio output automatically
Comment[es]=Monitorea la conexión de los audífonos y cambia la salida de audio
Exec=barracuda-status --language en
Icon=barracuda-status
Terminal=false
Categories=AudioVideo;Utility;
X-KDE-autostart-after=panel
